<div class={{sigisthere}}>

<h1>{{first}}, are you sure you want to delete your signature?</h1>
<img class="signature" src={{signature}}>
</img>
<form class="yesdel" action="yesdel" method="post">
    <input type="submit" name="deletesig" value="Yes">
</form>

</div>
