<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="/public/style.css"> -->
    </head>
    
    <body>
        <h1> Welcome to my Petition</h1>
        <h2>Let our children learn to code!!!</h2>
        <h3>put more text here</h3>
        <form class='sub-form' method='POST'>
            First name: <input type="text" name="first"><br>
            Last name: <input type="text" name="last"><br>
            <input type="submit" value="Submit">
        </form>
        <canvas id="canvas" width="200" height="50">
            <img src = './Untitled-3.gif'></img>
        </canvas>
        <p>Your signature here</p>
    </body>



</html>
