<h1>Please sign our petition</h1>

<form class='login' method='POST'>
    <div class="unitlogin">
        <label for="email">Email address:</label>
        <p class="oops">{{oops}}</p>
        <input type="text" name="email" placeholder="Please type your Email address">
    </div>
    <div class="unitlogin">
        <label for="password">Password:</label>
        <p class="oops">{{oops}}</p>
        <input type="password" name="password" placeholder="Please type password">
    </div>
    <input type="submit" value="Submit" id="submit-login">

</form>
