<h1>Please sign our petition</h1>

<form class='login' method='POST'>
    <div class="email">
        <label for="email">Email address:</label>
        <input type="text" name="email" placeholder="Please type your Email address"><br><p class="oops">{{oops}}</p>
    </div>
    <div class="password">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Please type password"><br><p class="oops">{{oops}}</p>
    </div>
    <input type="submit" value="Submit" id="submit-login">

</form>
