<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="/public/style.css"> -->
    </head>

    <body>
        <h1> Welcome to my Petition</h1>
        <img src="./codecode.jpg" alt="Coding id for everyone!" id='coding'>
        <h2>Let our children learn to code!!!</h2>
        <h3>put more text here</h3>
            <h3> Hi {{first}} {{last}}!</h1>
            <form class='sub-form' method='POST'>
            <input name="signature" type="hidden" value="empty" id="empty"><br>
                <canvas id="canvas" width="400" height="100">
                    <img src = './Untitled-3.gif'></img>
                </canvas><br>
                <p>Your signature here</p><p class="oops">{{oops}}</p>
                <input type="submit" value="Submit" id="submit">
        </form>


    </body>



</html>
