<h2>Here you can add details for your profile</h2>

<form class='profile' method='POST'>

    <div class="city">
        <label for="city">City:</label>
        <input type="text" name="city" placeholder="Where are you from?"><br><p class="oops">{{oops}}</p>
    </div>
    <div class="age">
        <label for="age">Age:</label>
        <input type="text" name="age" placeholder="how old are you?"><br><p class="oops">{{oops}}</p>
    </div>
    <div class="homepage">
        <label for="homepage">Your website:</label>
        <input type="text" name="homepage" placeholder="www...?"><br><p class="oops">{{oops}}</p>
    </div>
    <input type="submit" value="Submit" id="submit">
        <!-- <input type="submit" value="Login" id="register" href='/login'></input> -->
    <h3> Go back to <a href="/petition">main page</a></p>
</form>
