<h1 id='signedunder'>We, the singed under, support the right of our children, however low their math grades may be, to study Computer science in highscool.</h1>

{{#names}}
<p class="firstname" color="white">
    {{first}}
    {{last}}
</p>
{{/names}}

<a id="button"></a>
