<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="/public/style.css"> -->

    </head>
    <body>
        <h1> Thank you, {{first}}, for signing our petition!</h1>
    <img src={{sign}}></img>
    <p>So far, {{noOfSigners}} people signed our petition. <a href>See who they are</a></p>
    </body>


</html>
