        <h1 style="margin-left: 10px"> Thank you, {{first}}, for signing our petition!</h1>
    <img style="margin-left: 10px" src={{signature}}></img>
    <p style="margin-left: 10px">So far, {{noOfSigners}} people signed our petition. <a href='/signers'>See who they are</a></p>
