#canvas {
    border: solid 1px blue;
    /* width: 400px;
    height: 100px; */
    background-image: url("Untitled-3.gif");
    background-size: cover;
}

#coding {
    object-fit: none;
    width: 100%;
    height: 200px;
}

body {
    background-color: #01185e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #19b9fd;
}

h2 {
    color: #19b9fd;
}
h3 {
    color: #19b9fd;
}

text {
    color: white;
}

.oops {
    color: #fc5317;
}

.firstname {
    color: white;
}

#signedunder {
    width: 70%;
}

#button {
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "ᐱ";
    color: black;
    font-family: FontAwesome;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

/* Styles for the content section */

.content {
    width: 77%;
    margin: 50px auto;
    font-family: "Merriweather", serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
}
@media (min-width: 500px) {
    .content {
        width: 43%;
    }
    #button {
        margin: 30px;
    }
}
.content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
}
.content h3 {
    font-style: italic;
    color: #96a2a7;
}

label {
    color: white;
}
