* {
    margin: 0;
    box-sizing: border-box;
}
#canvas {
    border: solid 1px blue;
    /* width: 400px;
    height: 100px; */
    background-image: url("Untitled-3.gif");
    background-size: cover;
}

#coding {
    object-fit: none;
    width: 100%;
    height: 200px;
}

input {
    height: 5vh;
    width: 25vh;
    margin-bottom: 10px;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    border-color: transparent;
}

body {
    background-color: #5e82f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.left {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    height: 100%;
    felx: 1 1;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    color: #0d445d;
    margin: 10px;
}

h2 {
    color: #0d445d;
}
h3 {
    color: #0d445d;
}

text {
    color: white;
}
.current {
    margin-right: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.current:active {
    box-shadow: none;
    align-self: center;
}

.oops {
    color: #e72c2c;
}
.names {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.profileEdit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.unit {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 15px;
}

.firstname {
    color: white;
}

#signedunder {
    width: 70%;
    align-self: center;
}

#button {
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "ᐱ";
    color: black;
    font-family: FontAwesome;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

/* Styles for the content section */

.content {
    width: 77%;
    margin: 50px auto;
    font-family: "Merriweather", serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
}

.content h3 {
    font-style: italic;
    color: #96a2a7;
}

label {
    color: white;
}

#logout {
    display: inline-block;
    background: #9a4ef1;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid transparent;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 300;
    color: white;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.25;
    margin-top: 15px;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
#deleteAccount {
    display: inline-block;
    background: #9a4ef1;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid transparent;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 300;
    color: white;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.25;
    margin-top: 15px;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
.firstname {
    text-transform: capitalize;
}

#signedunder {
    text-align: center;
    padding-bottom: 20px;
}
#editProfile {
    display: inline-block;
    background: #9a4ef1;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid transparent;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 300;
    color: white;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.25;
    margin-top: 15px;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
#logout:hover {
     border: 0.16em solid white;
}

#edit {
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
#edit:hover {
    box-shadow: 0 0 0 0;
}

#submit {
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
#submit:hover {
    box-shadow: 0 0 0 0;
}
